* {
    padding: 0;
    margin: 0;
}

header {
    background-color: grey;
    padding: 32px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: grid;
    grid-template-areas: 
    "dashboard settings";
    grid-template-columns: 2;
    gap: 32px;
}

main {
    min-height: 100vh;
}
.todo-card {
    background-color: aqua;
    min-height: 128px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 32px 64px;
}
.date-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:24px;
}
.task-form {
    display: grid;
    grid-template-areas: 
    "task-form"
    "deadline"
    "priority"
    "submit";
    align-items: center;
    justify-content: center;
}

.tab-bar {
    background-color: blanchedalmond;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

#panel-all {
    background-color: grey;
}

#panel-active {
    background-color: aqua;
}
#panel-completed {
    background-color: blanchedalmond;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px;
}
.task-info {
    flex-grow:0;
    min-width:48vh;
    max-width: 64vh;
    padding: 14px;
}
.task-action {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap:12px;
}
.btn-border {
    border-radius: 8px;
    border:none;
    outline: none;
    background: none;
    cursor:pointer;
}

footer {
    background-color: brown;
}