* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: green;
    padding: 24px 64px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-link {
    display: flex;
    gap: 12px;
}

#nav-link a {
    text-decoration: none;
    color: white
}

main {
    background-color: blue;
    min-height: 100vh;
    padding: 1px;
}

.archived-list {
    margin: 120px;
    padding: 1px;
    background-color: wheat;
}

.archived-list h1 {
    margin: 24px;
}

.archived-item {
    background-color: white;
    display: flex;
    padding: 24px;
    margin: 24px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.archived-item p {
    color: black;
}

.archived-item button {
    border: none;
    background-color: white;
}

.archived-item img {
    display: block;
    cursor: pointer;
}

footer {
    background-color: red;
    min-height: 4vh;
}

footer p {
    padding: 24px;
    color: black;
}